body {
	margin: 0;
	padding: 0;
	font-family: "Mina", serif;
}
button {
	padding: 20px;
	background: black;
	color: white;
	font-weight: bold;
	display: block;
	margin-top: 10px;
}
button:hover {
	background: gray;
}
.sucesso {
	margin-top: 10px;
	margin-right: 10px;
	background: forestgreen;
	color: white;
	font-weight: bold;
	padding: 10px;
}
.erro {
	margin-top: 10px;
	margin-right: 10px;
	background: tomato;
	color: white;
	font-weight: bold;
	padding: 10px;
}
#result {
	margin-top: 15px;
}
#repeat-option {
	margin-top: 10px;
}
#number {
	padding: 20px;
	display: block;
	width: 300px;
	font-size: 20px;
}
#container {
	margin: 1em auto;
	width: 75%;
}
